@model IEnumerable<StudentManagement.Core.Models.StudentDetails>
 @{
    ViewBag.Title="ViewStudentDetails" ;
   }

<script>
    function AddStudentDetails()
    {
        window.location.href = "@Url.Action("Create", "StudentController1")";
    }

    function Delete(id)
    {
        window.location.href = "@Url.Action("Delete", "StudentController1")?Id=" + id;

    }

    function Edit(id)
    {
            window.location.href = "@Url.Action("Edit", "StudentController1")?Id=" + id;
    }
</script>

@if (TempData["LoginAlert"] != null)
{
    <script>
        alert("@Html.Raw(@TempData["LoginAlert"].ToString())");
    </script>

}


@if (TempData["CreateAlert"] != null)
{
    <script>
        alert("@Html.Raw(@TempData["CreateAlert"].ToString())");
    </script>
}

@if (TempData["DeleteAlert"] != null)
{
    <script>
        alert("@Html.Raw(@TempData["DeleteAlert"].ToString())");
    </script>
}
@if (TempData["EditAlert"] != null)
{
    <script>
        alert("@Html.Raw(@TempData["EditAlert"].ToString())");
    </script>
}
<style>
    .body {
        font-family: "Poppins", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.8;
        font-weight: normal;
        background: #f8f9fd;
        color: gray;
    }
    #add_button {
        margin: 10px 10px 10px 10px;
        float: right;
    }

    .table-primari {
        background: #6807f9;
    }

    .btn-primary {
        background: #6807f9;
    }

    thead tr td {
        border: none;
        padding: 30px;
        font-size: 14px;
        color: #fff;
    }
    .ftco-section {
        padding: 4em 0;
    }
    .table-wrap {
        overflow-x: scroll;
    }
</style>

<div class="body">
    <section class="ftco-section">

        @*<h1 class="text-center mb-4">Student Detail List</h1>*@


        <div class="container">
            <div class="row1">
                <button class="btn btn-primary btn-sm " id="add_button" onclick="AddStudentDetails()"> Add Student </button>
            </div>
            <div class="row1">
                <div class="col-md-12">
                    <h4 class="text-center mb-4">Student Detail List</h4>
                    <div class="table-wrap">
                        <table class="table table-bordered table-striped">

                            <thead class="table-primari">
                                <tr>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td>DOB</td>
                                    <td>Age</td>
                                    <td>Fav-Subject</td>
                                    <td>InterstedCourse</td>
                                    <td>Maths</td>
                                    <td>Chemistry</td>
                                    <td>Computer</td>
                                    <td></td>

                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {

                                    foreach (var items in Model)
                                    {
                                        <tr>
                                            <td>@items.FirstName</td>
                                            <td>@items.LastName </td>
                                            <td>@items.DateOfBirth</td>
                                            <td>@items.Age</td>
                                            <td>@items.FavoriteSubject</td>
                                            <td>@items.InterstedCourse</td>
                                            <td>@items.MathsMark</td>
                                            <td>@items.ChemistryMark</td>
                                            <td>@items.ComputerScienceMark</td>
                                            <td>
                                                <button class="btn btn-success" type="button" id="@items.StudentId" onclick="Edit(this.id)">Edit</button>
                                                <button class="btn btn-danger" type="button" id="@items.StudentId" onclick="Delete(this.id)">delete</button>
                                            </td>
                                        </tr>
                                    }

                                }

                                else
                                {
                                    <tr>
                                        <td colspan="7">No Record Found</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </section>
</div>
